p{
	color: #fff;	
}

#grid-layout{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 25% 50% 25%;
}

#lcolumn{
	grid-column: 1 / 2;
	display: grid;
	grid-template-rows: 90% 10%;
	height: 100%;
	border-right: 1px solid #1b222e;
}

#mcolumn{
	grid-column: 2 / 3;
	display: flex;
	height: 100%;
	flex-direction: column;
	overflow: scroll;
}

#rcolumn{
	grid-column: 3 / 4;
	border-left: 1px solid #1b222e;
}

#grid-layout > div > p{
	color: #fff;	
}

#input-wrapper{
	display:flex;
	width: 100%;
	height: fit-content;
	flex-direction: column;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #1b222e;
}

#typing-input{
	width: 95%;
	height: 80px;
	min-height: 50px;
	max-height: 200px;
	resize: vertical;
	border-radius: 8px;
	background-color: #131c2a;  
	font-size: 20px;
	color: #fff;
	border: 2px solid #131c2a;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	align-self: center;
	outline: none;
}

#typing-input:focus{
	border: 2px solid #214088;
}

#input-bottom{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#input-bottom > p{
	align-self: end;
	margin-left: 20px;
	color: #888;
}

#post-button{
	width: 70px;
	margin-top: 10px;
	margin-right: 18px;
	padding: 5px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 18px;
	color: #fff;
	background-color: #0172e8;
	border: none;
	font-size: 18px;
}

.tweet{
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
	border-bottom: 1px solid #1b222e;
}

.tweet-avatar-wrapper{
	margin-top: 12px;
	margin-left: 20px;
}

.tweet-avatar{
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.tweet-content-wrapper{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 10px;
}

.tweet-content-header{
	display: flex;
	flex-direction: row;
}

.tweet-username{
	padding-left: 8px;
	color: #888;
}

.tweet-username:hover{
	cursor: pointer;
}

.tweet-user:hover{
	cursor: pointer;
}

.tweet-datetime-separator{
	padding-left: 6px;
	padding-right: 6px;
	color: #888;
}

.tweet-datetime{
	color: #888;
}

#logo{
	font-size: 40px;
	margin-top: 10px;
	font-family: NotoSerif;
}

.lcolumn-menu-item{
	margin-top: 25px;
	font-size: 20px;
	padding: 4px;
	padding-left: 16px;
	padding-right: 16px;
	transition: 0.25s;
}

.lcolumn-menu-item:hover{
	cursor: pointer;
	background-color: #131c2a;
	border-radius: 25px;
}

#lcolumn-menu{
	grid-row: 1 / 2;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
}

#lcolumn-profile{
	grid-row: 2 / 3;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}

#profile-wrapper{
	width: 80%;
	height: 88%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 34px;
}

#profile-wrapper:hover{
	background-color: #131c2a;
	cursor: pointer;
}

.user-profile-avatar{
	width: 50px;
	margin-left: 15px;
	border-radius: 50%;
	overflow: scroll;
}

#user-profile-info{
	margin-left: 20px;
}

#user-profile-username{
	color: #888;
}