.text-wrapper{
	display: flex;
	flex-direction: column;
	background: #2d323b;
	border-radius: 8px;
    width: auto;
    border: 1px solid red;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-wrapper > h2{
	color: white;
  	text-align: center;
  	margin: auto;
  	padding: 10px;
}